<!DOCTYPE html>
<<html xmlns:th="http://www.thymeleaf.org">
     <head th:fragment="head">
        <title>TechShop</title>
        <meta charset="UTF-8">
            <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrao.min.css}"/>
            <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}"/>
            <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
            <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
            <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    </head>
    <body>
        <header th:replace="layout/plantilla :: header"/>
        <div class="contenido">
            <h2>Listado de Articulos</h2>
            <a th:href="@{/articulo/nuevo}">Nuevo Articulo</a>
            <br/>
            <!--        <br/>  para evaluacion de atributo en el model, usamos el simbolo de $ y para rutas se usa @ y abro {}-->
            <div th:if="${articulos != null and !articulos.empty}">

                <table border="1">
                    <thead>  
                        <tr>
                            <th>Descrcipcion</th>
                            <th>Precio</th>
                            <th>Existencias</th>
                            <th>Activa</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="articulo : ${articulos}">
                            <td th:text="${articulo.descripcion}"></td> 
                            <td th:text="${#numbers.formatDecimal(articulo.precio, 3, 2)}" style="text-align: right"></td>
                            <td th:text="${articulo.existencias}" style="text-align: right"></td>
                            <td><input type="checkbox" name="activa" th:checked="${articulo.activo}" disable="true"></td>                            
                            <td><a th:href="@{/articulo/modificar/} + ${articulo.idArticulo}">Modificar</a></td>
                            <td><a th:href="@{/articulo/eliminar/} + ${articulo.idArticulo}">Eliminar</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div th:if="${articulos==null or articulos.empty}">
                No tenemos articulos que mostrar...
            </div>
        </div>
        <footer th:replace="layout/plantilla :: footer" />
    </body>
</html>
