<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TechShop</title>
        <meta charset="UTF-8">
        <link href="/css/menu.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
    <header th:replace="layout/plantilla :: header"/>       
    <div class="contenido">
        <div>
            <a th:href="@{/cliente/listado}">Regresar</a>
            <br/>
            <br/>
        </div>
        <div th:if="${cliente != null and !cliente.empty}">

            <table border="1">
                <thead>   
                <th>Nombre</th>
                <th>Apellidos</th>
                <th>Correo</th>
                <th>Telefono</th>
                <th>Limite</th>
                <th colspan="2">Acciones</th>
                </thead>
                <tbody>
                    <tr th:each="cliente: ${cliente}">
                        <td th:text="${cliente.nombre}"></td> 
                        <td th:text="${cliente.apellidos}"></td>
                        <td th:text="${cliente.correo}"></td>
                        <td th:text="${cliente.telefono}"></td>
                        <td th:text="${#numbers.formatDecimal(cliente.credito.limite, 3, 2)}"></td>
                        <td><a th:href="@{/cliente/modificar/} + ${cliente.idCliente}">Modificar</a></td>
                        <td><a th:href="@{/cliente/eliminar/} + ${cliente.idCliente}">Eliminar</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div th:if="${cliente==null or cliente.empty}">
            No hay clientes con ese apellido...
        </div>
    </div>
    <footer th:replace="layout/plantilla :: footer" />
</body>
</html>
