<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
     <head th:fragment="head">
        <title>TechShop</title>
        <meta charset="UTF-8">
            <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrao.min.css}"/>
            <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}"/>
            <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
            <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
            <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    </head>
    <body>
        <header th:replace="layout/plantilla :: header"/>
        <div class="contenido">
            <h2 th:text="#{index.titulo}">Nuestros Articulos</h2>
            <div th:if="${articulos != null and !articulos.empty}">
                <table border="1">
                    <thead>
                        <tr>
                            <th th:text="#{articulo.descripcion}">Descripcion</th>
                            <th th:text="#{articulo.precio}">Precio</th>
                            <th th:text="#{articulo.comprar}">Comprar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="articulo: ${articulos}">
                            <td th:text="${articulo.descripcion}"></td> 
                            <td th:text="${#number.formatDecimal(articulo.precio, 3, 2)}" style="text-align: right"></td>
                            <td><a th:href="@{/carrito/agregar} + ${articulo.idArticulo}" th:text="#{accion.agregar}">Agregar</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        <div th:if="${articulos == null or articulos.empty}">
            <p th:text="@{articulo.no_mostrar}">No tenemos articulos que mostrar</p>
        </div>
    </div>
        <footer th:replace="layout/plantilla :: footer" />
    </body>
</html>
