<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TechShop</title>
        <meta charset="UTF-8">
        <link href="/css/menu.css" rel="stylesheet" type="text/css"/>


    </head>
    <body>
        <!--        <div>Saludos</div>
                <p th:text="Hola"></p>-->
        <!--        <h1>Un cliente</h1>
                <p></p>
                <p></p>
                <p></p>
                <p>Nombre:<span th:text"${cliente.nombre}"></span></p>
                <p>Nombre:<span th:text"${cliente.nombre}"></span></p>
                <p>Nombre:<span th:text"${cliente.nombre}"></span></p>
                <p>Nombre:<span th:text"${cliente.nombre}"></span></p>-->
        <header th:replace="layout/plantilla :: header"/>
        <div class="contenido">
            <h2>Nuestros Articulos</h2>
            <div th:if="${articulos != null and !articulos.empty}">
                <table border="1">
                    <thead>
                        <tr>
                            <th>Descripcion</th>
                            <th>Precio</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="articulo: ${articulos}">
                            <td th:text="${articulo.descripcion}"></td> 
                            <td th:text="${#number.formatDecimal(articulo.precio, 3, 2)}" style="text-align: right"></td>
                            <td><a th:href="@{/carrito/agregar} + ${articulo.idArticulo}">Agregar</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div th:if="${articulos == null or articulos.empty}">
            No tenemos articulos que mostrar...
        </div>
        <footer th:replace="layout/plantilla :: footer" />
    </body>
</html>
