<!DOCTYPE html>

<html>
    <head>
        <title>TechShop</title>
        <meta charset="UTF-8">

    </head>
    <body>
        <h1>Datos del Cliente</h1>
        <br/>
        <a th:href="@{/}">Regresar</a>
        <br/>
        <br/>
        <form th:action="@{/guardarCliente}" method="POST" th:object="${cliente}">
            <input type="hidden" name="idCliente" th:field="*{idCliente}" />
            <label for="nombre">Nombre: </label><br/>
            <input type="text" name="nombre" th:field="*{nombre}"><br/>
            
            <label for="apellido">Apellido </label><br/>
            <input type="text" name="apellido" th:field="*{apellido}"><br/>
            
            <label for="correo">Correo </label><br/>
            <input type="email" name="correo" th:field="*{correo}"><br/>
            
            <label for="telefono">Nombre: </label><br/>
            <input type="tel" name="telefono" th:field="*{telefono}"><br/><br/>
            
            <input type="submit" name="Guardar" value="Guardar" />
            
        </form>
    </body>
</html>
